@use 'variables'; // contains variables for the web page

// styles for application form and login form

#applicationForm {
    text-align: left;
    width: 40%;
    margin: 4rem auto 0 auto;

    .error {
        color: variables.$error-red;
        font-weight: 500;
        font-size: 15px;
    }

    .success {
        color: variables.$success-green;
        font-weight: 500;
        font-size: 15px;
    }

    .submit-section {
        text-align: center;
    }
}

#loginForm {
    padding: 40px 8rem 12px 8rem;

    input::placeholder {
        opacity: .4;
      }
}

.form-group {
    margin-bottom: 28px;
}