@use 'variables'; // contains variables for the web page

// styles that are specific for the internal web page view (= intranet)
.intranet {
    min-height: variables.$min-height;

    nav {
        background-color: variables.$mid-grey;

        a {
            color: variables.$dark-grey;
            margin-left: 30px;
        }
    }

    .mainContent {
        width: 90%;
        margin: auto;

        table {
            margin-top: 25px;

            i {
                padding: 0 10px;

                &.fa-user-minus {
                    color: variables.$tmm-red;
                }
    
                &.fa-pen-to-square {
                    color: variables.$dark-grey;
                }
    
            }            

            td:hover {
                cursor: pointer;
            }
        }
    }
}