// general colors
$dark-grey: #5D5F5D;
$light-grey: #ECECEC;
$light-headline-color: #FFFFFF;

// social media button colors
$fb-blue: #3B5998;
$insta-pink: #AC2CAC;
$tmm-red: #C82D24;
$linkedin-blue: #0182C9;

// box shadows
$box-shadow: 0px 3px 12px;
$box-shadow-hover: 0px 3px 20px;

// fonts
$font-family-headline: "Bebas Neue", sans-serif;

