// contains variables for the web page

// general colors
$dark-grey: #5D5F5D;
$light-grey: #ECECEC;
$mid-grey: #D9D9D9;
$light-headline-color: #FFFFFF;
$light-paragraph-color: #ECECEC;
$error-red: #FF0000;
$success-green: #1A8753;

// social media button colors
$fb-blue: #3B5998;
$insta-pink: #AC2CAC;
$tmm-red: #C82D24;
$linkedin-blue: #0182C9;

// box shadows
$box-shadow: 0px 3px 12px;
$box-shadow-hover: 0px 3px 20px;

// fonts
$font-family-general: "Montserrat", sans-serif;
$font-family-headline: "Bebas Neue", sans-serif;

// layout
$min-height: 72vh; // to display footer at the bottom of the page
$main-content-padding-top: 75px;