// import other custom stylesheets
@use 'variables'; // contains variables for the web page
@use 'navigation'; // Navigation
@use 'start'; // LandingPage
@use 'form'; // ApplicationForm
@use 'intranet'; // IntranetOverview
@use 'footer'; // Footer

// change the theme
$theme-colors: (
    "primary": variables.$tmm-red,
);

// import Bootstrap SCSS
@import '../../node_modules/bootstrap/scss/bootstrap';

body {
    font-family: variables.$font-family-general;
    text-align: center;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 0;

    .mainContent {
        min-height: variables.$min-height;
        padding-top: variables.$main-content-padding-top;
    }
}

.dark-bg-color {
    color: variables.$light-paragraph-color;
    background-color: variables.$dark-grey;
}

.light-bg-color {
    color: variables.$dark-grey;
    background-color: variables.$light-paragraph-color;
}

h1 {
    font-size: 5rem;
    font-family: variables.$font-family-headline;
}

// styling of Link element of react-router-dom
// make sure to add to each Link element of react-router-dom
.link {
    color: variables.$light-paragraph-color;
    text-decoration: none;
    font-family: variables.$font-family-headline;
    font-weight: 500;
    font-size: 21px;
}

button {
    font-family: variables.$font-family-headline;
    font-weight: 500;
    font-size: 21px;
}